.div1 {
    background-color: #232f3e;
    color: white;
}

.subdiv1 {
    align-items: center;
    display: flex;
}

.top-icons div {
    display: flex;
}

.subdiv2 {
    margin-top: 10px;
}

.below-top-icons {
    background-color: #37475a;
    display: flex;
}

.div2 {
    background-color:cornflowerblue;
    color: white;
    text-align: center;
}

.items-unit {
    text-align: center;
    background: #f9f9f9;
}

.items-unit img{
    width: 25%;
    height: 25%;
}

section {
    font-family: "Playwrite AU VIC Guides", serif;
    background-image: url('Images/rome-cathedral.jpg');
}

.search {
    margin: 0 20px;
    padding: 5px 10px;
}